* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background:
        radial-gradient(circle at top, #202b50, #080b18);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
}

.game-wrapper {
    width: 100%;
    max-width: 1050px;
    margin: auto;
    padding: 15px;
}

h1 {
    margin: 5px 0 10px;
    font-size: 32px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 12px;
    font-weight: bold;
}

canvas {
    width: 100%;
    max-width: 1000px;
    height: auto;

    background:
        linear-gradient(#182044, #10152b);

    border: 5px solid #5969b8;
    border-radius: 15px;

    box-shadow:
        0 0 30px rgba(75, 100, 255, 0.4);
}

button {
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 5px;
    background: #343d73;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    transform: scale(0.92);
    background: #5664b5;
}

#restart {
    margin-top: 15px;
    background: #e34b4b;
}

.mobile-controls {
    display: none;
    justify-content: space-around;
    margin-top: 15px;
}

.control-player {
    background: rgba(255,255,255,0.08);
    padding: 8px;
    border-radius: 15px;
}

.control-player h3 {
    margin: 5px;
}

/* Celular */

@media (max-width: 700px) {

    h1 {
        font-size: 24px;
    }

    .info {
        font-size: 12px;
        gap: 8px;
    }

    .mobile-controls {
        display: flex;
    }

    .control-player button {
        width: 55px;
        height: 50px;
        padding: 0;
        font-size: 20px;
    }

}